
{% extends 'test_base/base_list.html' %}

{% block page_title %}

Blog Details

{% endblock %}

{% block page_actions %}

{% if perms.test_app.change_blog %} 
    
    <a class="btn btn-primary" href="{% url 'test_app:blog-update' pk=object.pk %}">
        <i class="fas fa-edit"></i> Edit
    </a>
    
{% endif %}
{% if perms.test_app.delete_blog %} 
     
     <a class="btn btn-danger" data-toggle="modal" data-target="#commonModal"
         data-target-title="Delete  Blog  : {{ object }}"
         data-target-url="{% url 'test_app:blog-delete' pk=object.pk %}">
         <i class="fas fa-trash-alt"></i> Delete
    </a>

{% endif %}

{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4 mb-3">
            <div>ID</div>
            <div><h5>{{ object.id }}</h5></div>
        </div>
        
        
        <div class="col-md-4 mb-3">
            <div>Name</div>
            <div><h5>{{ object.name }}</h5></div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div>User</div>
            <div><h5>{{ object.user }}</h5></div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div>Amount</div>
            <div><h5>{{ object.amount }}</h5></div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div>Description</div>
            <div><h5>{{ object.description }}</h5></div>
        </div>
        
        
    </div>
{% endblock %}
