from django.urls import path, include
from . import views

app_name = '{{ app_label }}'

urlpatterns =  []

urlpatterns += [ path('api/', include('{{ app_label }}.api.urls'), name='{{ app_label }}-api') ]

