{% load scaffold_generator_helper %}
{% with class=config.REST_FRAMEWORK_DEFAULT_ROUTER %}
{% include 'scaffold_generator/components/render_import.template' %}
{% endwith %}

urlpatterns =  []

router = {{ config.REST_FRAMEWORK_DEFAULT_ROUTER|to_classname }}()

urlpatterns += router.urls
